* { margin: 0; padding: 0; box-sizing: border-box; }

.horizontal-seperator {
  height: 2px;             /* Default thickness */
  width: 50px;             /* Default length */
  background-color: #000000;  /* Default color */
  margin-top: 10px;        /* Space above the line */
  margin-bottom: 20px;     /* Space below the line */
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
  color: #888888;
  font-size: 0.85rem;
  font-family: 'Inter', sans-serif;
  font-weight: 1000; /* Controls text boldnesses (400 = regular, 600 = semi-bold, 700 = bold) */
  margin-top: auto;
}

.footer p {
  margin: 0;
}

body {
  background-color: #0c0e1c;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}